<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-88</integer>
		<key>G</key>
		<integer>-99</integer>
		<key>J</key>
		<integer>-33</integer>
		<key>L</key>
		<integer>-26</integer>
		<key>O</key>
		<integer>-88</integer>
		<key>Q</key>
		<integer>-88</integer>
		<key>S</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-198</integer>
		<key>U</key>
		<integer>-77</integer>
		<key>V</key>
		<integer>-214</integer>
		<key>W</key>
		<integer>-165</integer>
		<key>Y</key>
		<integer>-153</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>j</key>
		<integer>-33</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>q</key>
		<integer>-88</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-198</integer>
		<key>u</key>
		<integer>-77</integer>
		<key>v</key>
		<integer>-214</integer>
		<key>w</key>
		<integer>-165</integer>
		<key>y</key>
		<integer>-153</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>W</key>
		<integer>-77</integer>
		<key>Y</key>
		<integer>-44</integer>
		<key>w</key>
		<integer>-77</integer>
		<key>y</key>
		<integer>-44</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>C</key>
		<integer>-44</integer>
		<key>G</key>
		<integer>-44</integer>
		<key>O</key>
		<integer>-44</integer>
		<key>Q</key>
		<integer>-44</integer>
		<key>c</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-44</integer>
		<key>o</key>
		<integer>-44</integer>
		<key>q</key>
		<integer>-44</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-88</integer>
		<key>W</key>
		<integer>-66</integer>
		<key>Y</key>
		<integer>-88</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>w</key>
		<integer>-66</integer>
		<key>y</key>
		<integer>-88</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>C</key>
		<integer>-55</integer>
		<key>G</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-55</integer>
		<key>Q</key>
		<integer>-55</integer>
		<key>c</key>
		<integer>-55</integer>
		<key>g</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-55</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-154</integer>
		<key>C</key>
		<integer>-88</integer>
		<key>G</key>
		<integer>-88</integer>
		<key>J</key>
		<integer>-110</integer>
		<key>O</key>
		<integer>-88</integer>
		<key>Q</key>
		<integer>-88</integer>
		<key>a</key>
		<integer>-154</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>g</key>
		<integer>-88</integer>
		<key>j</key>
		<integer>-110</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>q</key>
		<integer>-88</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-22</integer>
		<key>C</key>
		<integer>-132</integer>
		<key>E</key>
		<integer>-60</integer>
		<key>G</key>
		<integer>-132</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-132</integer>
		<key>Q</key>
		<integer>-132</integer>
		<key>S</key>
		<integer>-77</integer>
		<key>W</key>
		<integer>-66</integer>
		<key>a</key>
		<integer>-22</integer>
		<key>c</key>
		<integer>-132</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-132</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-132</integer>
		<key>q</key>
		<integer>-132</integer>
		<key>s</key>
		<integer>-77</integer>
		<key>w</key>
		<integer>-66</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-77</integer>
		<key>G</key>
		<integer>-77</integer>
		<key>O</key>
		<integer>-77</integer>
		<key>Q</key>
		<integer>-77</integer>
		<key>T</key>
		<integer>-187</integer>
		<key>U</key>
		<integer>-77</integer>
		<key>V</key>
		<integer>-214</integer>
		<key>W</key>
		<integer>-154</integer>
		<key>Y</key>
		<integer>-220</integer>
		<key>c</key>
		<integer>-77</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>o</key>
		<integer>-77</integer>
		<key>q</key>
		<integer>-77</integer>
		<key>t</key>
		<integer>-187</integer>
		<key>u</key>
		<integer>-77</integer>
		<key>v</key>
		<integer>-214</integer>
		<key>w</key>
		<integer>-154</integer>
		<key>y</key>
		<integer>-220</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-88</integer>
		<key>T</key>
		<integer>-66</integer>
		<key>W</key>
		<integer>-77</integer>
		<key>X</key>
		<integer>-88</integer>
		<key>Y</key>
		<integer>-110</integer>
		<key>Z</key>
		<integer>-77</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>t</key>
		<integer>-66</integer>
		<key>w</key>
		<integer>-77</integer>
		<key>x</key>
		<integer>-88</integer>
		<key>y</key>
		<integer>-110</integer>
		<key>z</key>
		<integer>-77</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-154</integer>
		<key>C</key>
		<integer>-44</integer>
		<key>G</key>
		<integer>-44</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-44</integer>
		<key>Q</key>
		<integer>-44</integer>
		<key>W</key>
		<integer>-44</integer>
		<key>X</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>a</key>
		<integer>-154</integer>
		<key>c</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-44</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-44</integer>
		<key>q</key>
		<integer>-44</integer>
		<key>w</key>
		<integer>-44</integer>
		<key>x</key>
		<integer>-55</integer>
		<key>y</key>
		<integer>-55</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>W</key>
		<integer>-77</integer>
		<key>w</key>
		<integer>-77</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>J</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-33</integer>
		<key>W</key>
		<integer>-44</integer>
		<key>Y</key>
		<integer>-44</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-33</integer>
		<key>w</key>
		<integer>-44</integer>
		<key>y</key>
		<integer>-44</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-33</integer>
		<key>W</key>
		<integer>-44</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>a</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-33</integer>
		<key>w</key>
		<integer>-44</integer>
		<key>y</key>
		<integer>-55</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-198</integer>
		<key>J</key>
		<integer>-121</integer>
		<key>O</key>
		<integer>-66</integer>
		<key>a</key>
		<integer>-198</integer>
		<key>j</key>
		<integer>-121</integer>
		<key>o</key>
		<integer>-66</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-77</integer>
		<key>Y</key>
		<integer>-44</integer>
		<key>a</key>
		<integer>-77</integer>
		<key>y</key>
		<integer>-44</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-214</integer>
		<key>E</key>
		<integer>-44</integer>
		<key>F</key>
		<integer>-33</integer>
		<key>G</key>
		<integer>-99</integer>
		<key>J</key>
		<integer>-110</integer>
		<key>a</key>
		<integer>-214</integer>
		<key>e</key>
		<integer>-44</integer>
		<key>f</key>
		<integer>-33</integer>
		<key>g</key>
		<integer>-99</integer>
		<key>j</key>
		<integer>-110</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-165</integer>
		<key>C</key>
		<integer>-77</integer>
		<key>E</key>
		<integer>-44</integer>
		<key>G</key>
		<integer>-77</integer>
		<key>J</key>
		<integer>-88</integer>
		<key>O</key>
		<integer>-77</integer>
		<key>Q</key>
		<integer>-77</integer>
		<key>a</key>
		<integer>-165</integer>
		<key>c</key>
		<integer>-77</integer>
		<key>e</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>j</key>
		<integer>-88</integer>
		<key>o</key>
		<integer>-77</integer>
		<key>q</key>
		<integer>-77</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-88</integer>
		<key>E</key>
		<integer>-44</integer>
		<key>G</key>
		<integer>-88</integer>
		<key>J</key>
		<integer>-33</integer>
		<key>O</key>
		<integer>-88</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>e</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-88</integer>
		<key>j</key>
		<integer>-33</integer>
		<key>o</key>
		<integer>-88</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-153</integer>
		<key>C</key>
		<integer>-66</integer>
		<key>E</key>
		<integer>-66</integer>
		<key>G</key>
		<integer>-77</integer>
		<key>J</key>
		<integer>-121</integer>
		<key>O</key>
		<integer>-110</integer>
		<key>S</key>
		<integer>-55</integer>
		<key>U</key>
		<integer>-44</integer>
		<key>a</key>
		<integer>-153</integer>
		<key>c</key>
		<integer>-66</integer>
		<key>e</key>
		<integer>-66</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>j</key>
		<integer>-121</integer>
		<key>o</key>
		<integer>-110</integer>
		<key>s</key>
		<integer>-55</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>O</key>
		<integer>-77</integer>
		<key>o</key>
		<integer>-77</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>c</key>
		<integer>-88</integer>
		<key>g</key>
		<integer>-99</integer>
		<key>j</key>
		<integer>-33</integer>
		<key>l</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>q</key>
		<integer>-88</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-198</integer>
		<key>u</key>
		<integer>-77</integer>
		<key>v</key>
		<integer>-214</integer>
		<key>w</key>
		<integer>-165</integer>
		<key>y</key>
		<integer>-153</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>w</key>
		<integer>-77</integer>
		<key>y</key>
		<integer>-44</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-44</integer>
		<key>o</key>
		<integer>-44</integer>
		<key>q</key>
		<integer>-44</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>a</key>
		<integer>-88</integer>
		<key>w</key>
		<integer>-66</integer>
		<key>y</key>
		<integer>-88</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>c</key>
		<integer>-55</integer>
		<key>g</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-55</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-154</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>g</key>
		<integer>-88</integer>
		<key>j</key>
		<integer>-110</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>q</key>
		<integer>-88</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-22</integer>
		<key>c</key>
		<integer>-132</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-132</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-132</integer>
		<key>q</key>
		<integer>-132</integer>
		<key>s</key>
		<integer>-77</integer>
		<key>w</key>
		<integer>-66</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>c</key>
		<integer>-77</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>o</key>
		<integer>-77</integer>
		<key>q</key>
		<integer>-77</integer>
		<key>t</key>
		<integer>-187</integer>
		<key>u</key>
		<integer>-77</integer>
		<key>v</key>
		<integer>-214</integer>
		<key>w</key>
		<integer>-154</integer>
		<key>y</key>
		<integer>-220</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<integer>-88</integer>
		<key>t</key>
		<integer>-66</integer>
		<key>w</key>
		<integer>-77</integer>
		<key>x</key>
		<integer>-88</integer>
		<key>y</key>
		<integer>-110</integer>
		<key>z</key>
		<integer>-77</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>a</key>
		<integer>-154</integer>
		<key>c</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-44</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-44</integer>
		<key>q</key>
		<integer>-44</integer>
		<key>w</key>
		<integer>-44</integer>
		<key>x</key>
		<integer>-55</integer>
		<key>y</key>
		<integer>-55</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>w</key>
		<integer>-77</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>j</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-33</integer>
		<key>w</key>
		<integer>-44</integer>
		<key>y</key>
		<integer>-44</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>a</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-33</integer>
		<key>w</key>
		<integer>-44</integer>
		<key>y</key>
		<integer>-55</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-198</integer>
		<key>j</key>
		<integer>-121</integer>
		<key>o</key>
		<integer>-66</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>a</key>
		<integer>-77</integer>
		<key>y</key>
		<integer>-44</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-214</integer>
		<key>e</key>
		<integer>-44</integer>
		<key>f</key>
		<integer>-33</integer>
		<key>g</key>
		<integer>-99</integer>
		<key>j</key>
		<integer>-110</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-165</integer>
		<key>c</key>
		<integer>-77</integer>
		<key>e</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>j</key>
		<integer>-88</integer>
		<key>o</key>
		<integer>-77</integer>
		<key>q</key>
		<integer>-77</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>-88</integer>
		<key>e</key>
		<integer>-44</integer>
		<key>g</key>
		<integer>-88</integer>
		<key>j</key>
		<integer>-33</integer>
		<key>o</key>
		<integer>-88</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-153</integer>
		<key>c</key>
		<integer>-66</integer>
		<key>e</key>
		<integer>-66</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>j</key>
		<integer>-121</integer>
		<key>o</key>
		<integer>-110</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>-44</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>o</key>
		<integer>-77</integer>
	</dict>
</dict>
</plist>
