@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Azonix;
	src: url(assets/Fonts/AzonixRegular.otf);
}

@font-face {
	font-family: Azeret_Mono;
	src: url(assets/Fonts/AzeretMono-Regular.ttf);
}

:root {
	font-size: 24px;
	scroll-behavior: smooth;
}

@media (max-width: 728px) {
	:root {
	font-size: 12px;
}
}